/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

body {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
}

.fowe-bold {
    font-weight: 900 !important;
}

.orange-text {
    color: #fa6400;
}

#main-hero {}

.btn-orange {
    border-color: #fa6400;
    color: #fa6400;
    border-radius: 5px;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-orange:hover {
    background: #fa6400;
    color: white;
}

.btn-outline-orange {
    border-color: #fa6400;
    color: #fa6400;
    border-radius: 5px;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-outline-orange:hover {
    background: #fa6400;
    color: white;
}

.btn-outline-orange-login {
    border-color: #fa6400;
    color: #fa6400;
    border-radius: 5px;
    display: inline-block;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    padding: 0.375rem 2.75rem;
    font-size: 1rem;
    border-radius: 3rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-outline-orange-login:hover {
    background: #fa6400;
    color: white;
}

.absolute {
    position: absolute;
}

.text-gray-200 {
    color: #edf2f7;
}

.left-0 {
    left: 0;
}

.lg\:w-2\/3 {
    width: 66.666667%;
}

.btn-violet {
    color: #fff;
    background-color: #4a71e8;
    border-color: #4a71e8;
    display: inline-block;
    font-weight: 500;
    line-height: 2;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-violet:hover {
    background: #3656c7;
    color: white;
}

.height-40 {
    height: 40%;
}

.dropdown-menu-wide {
    min-width: 175px;
}

.footer-bottom {
    margin-bottom: 15rem;
}

.spinner-loader {
    display: inline-block;
    width: 1.15rem;
    height: 1.15rem;
    vertical-align: -0.125em;
    border: 0.2em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: 0.75s linear infinite spinner-border;
    animation: 0.75s linear infinite spinner-border;
}

.submit-registration {
    background-color: #4a71e8;
    border: none;
    border-radius: 5px;
    width: 14rem;
    padding: 12px;
    font-size: 16px;
    color: white;
    box-shadow: 0px 6px 18px -5px #4a71e8;
    text-transform: uppercase;
    margin-top: 1rem;
    font-weight: 600;
}

input.input-error,
select.input-error {
    border-color: red;
}

.terms-label {
    font-size: 13px;
    color: rgb(61, 61, 61);
    padding-top: 25px;
}

.orange-background {
    background-image: url("https://cdn.dribbble.com/users/45255/screenshots/14982524/media/1af6402fbc55380f27cc51f72ca7eead.jpg");
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

.semitransparent {
    background-color: rgba(255, 255, 255, 0.95);
    background-blend-mode: difference;
}

.transparent-form {
    opacity: 35%;
}

.totally-transparent-form {
    opacity: 0%;
}

.optional-fields {
    font-size: 15px;
    transition: opacity 1s ease-in;
}

.optional-fields input {
    font-size: 14px;
}

.optional-fields select {
    font-size: 14px;
}