.height {
    height: 60vh;
}

.search {
    position: relative;
}

.search input {
    height: 60px;
    text-indent: 25px;
    border: none;
    -webkit-box-shadow: 0px 8px 20px rgb(0 0 0 / 6%);
    box-shadow: 0px 8px 20pxrgba (0, 0, 0, 0.06);
    border-radius: 8px;
}

.search input:focus {
    -webkit-box-shadow: 0px 0px 4px 0px rgb(114, 114, 114);
    -moz-box-shadow: 0px 0px 4px 0px rgb(114, 114, 114);
    box-shadow: 0px 0px 4px 0px rgb(114, 114, 114);
    border: none;
}

.search .fa-search {
    position: absolute;
    top: 20px;
    left: 25px;
    color: grey;
}

.search-result {}

.search-header .search-landing-header-container {
    position: relative;
    width: 100%;
    min-height: 250px;
    max-height: 360px;
    background-color: #fd507e;
}

.search-header .search-image-container {
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    background-color: #fdb465;
}

.orange-searchman-background {
    background-color: #fdb465;
    height: 15rem;
}

.centered {
    position: relative;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered>h1 {
    color: white;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

.centered>p {
    color: white;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

.search-header-img {
    max-height: -webkit-fill-available;
    opacity: 80%;
}

.search-box {
    transform: translateY(-30%);
}

/* spinner */

.lds-ripple {
    display: inline-block;
    position: relative;
    /* margin-left: 45%; */
    width: 80px;
    height: 120px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #6c757d;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    4.9% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    5% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

.visitgroup {
    background-color: #ed6755;
    border: none;
    border-radius: 5px;
    width: 40%;
    padding: 12px 3rem;
    font-size: 14px;
    color: white;
    /* box-shadow: 0px 6px 18px -5px rgba(237, 103, 85, 1); */
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    margin: 0 12px;
}

.visitgroup:hover {
    text-decoration: none;
    color: white;
    background-color: #ca5748;
    transition: background-color 0.2s ease-in-out;
}

.joingroup {
    background-color: #4a71e8;
    border: none;
    border-radius: 5px;
    width: 40%;
    padding: 12px 3rem;
    font-size: 14px;
    color: white;
    /* box-shadow: 0px 6px 18px -5px rgba(237, 103, 85, 1); */
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    margin: 0 12px;
}

.joingroup:hover {
    text-decoration: none;
    color: white;
    background-color: #4063ce;
    transition: background-color 0.2s ease-in-out;
}

.joinedgroup {
    background-color: #253461;
    border: none;
    border-radius: 5px;
    width: 40%;
    padding: 12px 3rem;
    font-size: 14px;
    color: rgb(255, 255, 255);
    /* box-shadow: 0px 6px 18px -5px rgba(237, 103, 85, 1); */
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    margin: 0 12px;
    transition: background-color 0.2s ease-in;
}

.joinedgroup:hover {
    color: white;
    cursor: auto;
}

.search-result-card {
    height: 15rem;
    transition: opacity 0.5s;
    opacity: 1;
    text-align: center !important;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 45%;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.5rem;
    margin: 0.4rem;
    margin-top: 0.6rem;
    transition: box-shadow 0.2s ease-in-out;
}

.search-result-card:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: box-shadow 0.2s ease-in-out;
}

.search-result-title {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    font-size: 25px;
}

.search-results-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.search-result-text {
    padding: 0.5rem 1rem;
}