.height {
    height: 60vh;
}

.search {
    position: relative;
}

.search input {
    height: 60px;
    text-indent: 25px;
    border: none;
    -webkit-box-shadow: 0px 8px 20px rgb(0 0 0 / 6%);
    box-shadow: 0px 8px 20pxrgba (0, 0, 0, 0.06);
    border-radius: 8px;
}

.search input:focus {
    -webkit-box-shadow: 0px 0px 4px 0px rgb(114, 114, 114);
    -moz-box-shadow: 0px 0px 4px 0px rgb(114, 114, 114);
    box-shadow: 0px 0px 4px 0px rgb(114, 114, 114);
    border: none;
}

.search .fa-search {
    position: absolute;
    top: 20px;
    left: 25px;
    color: grey;
}

.search-result {
    transition: opacity 0.5s;
    opacity: 1;
}

.search-header .search-landing-header-container {
    position: relative;
    width: 100%;
    min-height: 250px;
    max-height: 360px;
    background-color: #fd507e;
}

.search-header .search-image-container {
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    background-color: #fa6400;
}

.orange-searchman-background {
    background-color: #de5900;
    height: 15rem;
}

.centered {
    position: relative;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered>h1 {
    color: white;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

.centered>p {
    color: white;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

.search-header-img {
    max-height: -webkit-fill-available;
    opacity: 50%;
}

.search-box {
    transform: translateY(-30%);
}